@import url(reset.css);
@import url(common.css);

.wrap {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.hamburger .bar {
  width: 100%;
  height: 5px;
  background-color: #1d1d1d;
  margin-bottom: 8px;
  border-radius: 3px;
  transition: 0.5s;
  transform-origin: center;
}
.hamburger.active .bar_1 {
  transform: translateY(13px) rotate(45deg);
}
.hamburger.active .bar_2 {
  opacity: 0;
}
.hamburger.active .bar_3 {
  transform: translateY(-13px) rotate(-45deg);
}

/* .hamburger_ani end */

.mold {
  width: 40px;
  height: 60px;
  border: 3px solid #1d1d1d;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  animation-name: mold_ani;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #1d1d1d;
  border-radius: 50%;
  animation-name: circle_ani;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
}

@keyframes circle_ani {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 30px;
    opacity: 0;
  }
}

/* @keyframes mold_ani {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
} */

.spinner {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spinner .circle {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc; /* 기본 테두리 색 */
  border-top-color: #1d1d1d; /* 채워지는 부분 색 */
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
