@import url(reset.css);
@import url(common.css);

.wrap {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger_1 {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.hamburger_1 .bar {
  width: 100%;
  height: 5px;
  background-color: #1d1d1d;
  margin-bottom: 8px;
  border-radius: 3px;
  transition: 0.5s;
}
.hamburger_1.active .bar_1 {
  transform: translateY(13px) rotate(45deg);
}
.hamburger_1.active .bar_2 {
  opacity: 0;
}
.hamburger_1.active .bar_3 {
  transform: translateY(-13px) rotate(-45deg);
}

/* .hamburger_ani end */

.hamburger_2 {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hamburger_2 .dot {
  width: 10px;
  height: 10px;
  background-color: #1d1d1d;
  margin-bottom: 8px;
  border-radius: 5px;
  transition: 0.5s;
}

.hamburger_2.active .dot_1 {
  transform: translateY(13px) rotate(45deg);
  width: 40px;
  height: 5px;
}
.hamburger_2.active .dot_2 {
  width: 40px;
  height: 5px;
  opacity: 0;
}
.hamburger_2.active .dot_3 {
  transform: translateY(-13px) rotate(-45deg);
  width: 40px;
  height: 5px;
}
/* hamburger_ani_2 */

.mold {
  width: 40px;
  height: 60px;
  border: 3px solid #1d1d1d;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  animation-name: mold_ani;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #1d1d1d;
  border-radius: 50%;
  animation-name: circle_ani;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
}

@keyframes circle_ani {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 30px;
    opacity: 0;
  }
}
/* scroll_down_ani */

.circle_ani {
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid #1d1d1d;
  border-radius: 50%;
  animation: box_ani 3s infinite;
  /* transform-origin: 0% 50%; */
  /* overflow: hidden; */
}

.circle_ani .con {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  background-color: aqua;
  width: 50px;
  height: 100px;
  font-size: 50px;
}

@keyframes box_ani {
  0% {
    transform: tr(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
