@import url(reset.css);
@import url(common.css);

.wrap {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger_1 {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.hamburger_1 .bar {
  width: 100%;
  height: 5px;
  background-color: #1d1d1d;
  margin-bottom: 8px;
  border-radius: 3px;
  transition: 0.5s;
}
.hamburger_1.active .bar_1 {
  transform: translateY(13px) rotate(45deg);
}
.hamburger_1.active .bar_2 {
  opacity: 0;
}
.hamburger_1.active .bar_3 {
  transform: translateY(-13px) rotate(-45deg);
}

/* .hamburger_ani end */

.hamburger_2 {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hamburger_2 .dot {
  width: 10px;
  height: 10px;
  background-color: #1d1d1d;
  margin-bottom: 8px;
  border-radius: 5px;
  transition: 0.5s;
}

.hamburger_2.active .dot_1 {
  transform: translateY(13px) rotate(45deg);
  width: 40px;
  height: 5px;
}
.hamburger_2.active .dot_2 {
  width: 40px;
  height: 5px;
  opacity: 0;
}
.hamburger_2.active .dot_3 {
  transform: translateY(-13px) rotate(-45deg);
  width: 40px;
  height: 5px;
}
/* hamburger_ani_2 */

.mold {
  width: 40px;
  height: 60px;
  border: 3px solid #1d1d1d;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  animation-name: mold_ani;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #1d1d1d;
  border-radius: 50%;
  animation-name: circle_ani;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
}

@keyframes circle_ani {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 30px;
    opacity: 0;
  }
}
/* scroll_down_ani */

.circle_ani {
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid #1d1d1d;
  /* border-radius: 50%; */
  /* animation: box_ani 3s infinite; */
  /* transform-origin: 0% 50%; */
  /* overflow: hidden; */
  transform: rotate(0);
  transition: 3s;
}

.circle_ani:hover {
  transform: rotate(360deg);
}

.circle_ani .con {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: aqua;
  width: 50px;
  height: 100px;
  font-size: 50px;
}

/* @keyframes box_ani {
  0% {
    transform: tr(0);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* circle_ani end */

.insta {
  width: 475px;
  height: 900px;
  border: 10px solid #1d1d1d;
  border-radius: 60px;
  padding: 30px 16px;
}

.insta header {
  padding: 10px 0;
}

.insta .logo {
  width: 110px;
}

.story_wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.con_story {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.story_img {
  width: 75px;
  height: 75px;
  border: 2px solid #833ab4;
  border-radius: 50%;
  overflow: hidden;
}

.story_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.insta_profile .story_img {
  border: none;
}

.con_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.con_profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.con_profile_img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  overflow: hidden;
}

.follow_wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mid_con {
  width: 100%;
  height: 460px;
  position: relative;
}

.instaSwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  width: 100%;
  height: 432px;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom_con {
  margin-top: 10px;
}

.interactive_wrap {
  display: flex;
  justify-content: space-between;
}

.left_interactive_wrap {
  display: flex;
  gap: 15px;
}

.heart,
.speech_bubble,
.repost,
.share {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.heart_img {
  display: flex;
  align-items: center;
}

.heart_img path {
  transition: 1s;
}

.heart.active path {
  fill: #ff3c00;
}

.repost_img {
  width: 18px;
  height: 18px;
  transition: 0.5s;
  position: relative;
}

.repost_img .check {
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  opacity: 0;
  transition: 1s;
}

.repost.active .repost_img {
  transform: rotate(180deg);
}
.repost.active .check {
  opacity: 1;
}
